.comment{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 31.7px 0;
  padding: 5px;
}

.icon{
  width: 100px;
  height: 100px;
  margin-right: 46px;
}

.contents{
  text-align: left;
  margin: auto 0;
}

.name, .email{
  font-size: 18px;
  font-weight: 500;
}

.name{
  color: #4a4a4a;
  
}

.email{
  color: #0068c5;
}

.body{
  font-size: 16px;
  color: #5f6c84;
}

@media only screen and (max-width:768px) {
  .icon{
    margin-right: 10px;
  }
}

@media only screen and (max-width:500px) {
  .icon{
    width: 75px;
    height: 75px;
    margin-right: 5px;
  }
}

@media only screen and (max-width:375px) {
  .icon{
    display: none;
  }
}