@import url(fontiran.css);
html,
body {
  padding: 0;
  margin: 0;
  font-family: IRANSans, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main{
  padding: 60px 100px;
}