@import url(fontiran.css);
html,
body {
  padding: 0;
  margin: 0;
  font-family: IRANSans, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main{
  padding: 60px 100px;
}

.line{
  width: 100%;
  height: 1px;
  border: 1px solid #d6d6d6;
  margin: 44.1px 0;
}