.notify{
  direction: rtl;
  display: flex;
  align-items: center;
  max-width: 1347px;
  /* height: 52px; */
  margin: 0 0 15.3px auto;
  padding: 14px 11px;
  border-radius: 3px;
  color: #a37730;
  background-color: #fffde4;
  border: 1px solid #f7e8a1;
}

.notify img{
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.notify p{
  font-size: 13px;
  font-weight: 500;
  text-align: right;
  margin: 0;
}

@media only screen and (max-width: 1024px) {
  .notify{
    margin: 0 auto 15.3px auto;
    width: 100%;
  }
}

@media only screen and (max-width: 350px) {
  .notify{
    border-right: none;
    border-left: none;
  }
}